@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
* {
    font-family: "Montserrat", sans-serif;
}
:root {
    --coal: black;
    --shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.7) 0px 1px 2px 0px;
    --web-padding: 5% 25%;
    --mobile-padding: 2%;
}

#image {
    margin-top: 40px;
    width: 200px;
    border-radius: 25px;
}
#new {
    margin-top: 90px;
}
#new span {
    font-size: 70px;
}
/* .nav {
} */

input:focus {
    outline: none;
    border: none;
}

::placeholder {
    color: #fff;
}

body::-webkit-scrollbar {
    width: 0.25em;
}

body::-webkit-scrollbar-track {
    background: var(--dark-b-f);
}

body::-webkit-scrollbar-thumb {
    background: rgb(152, 152, 197);
    border-radius: 20px;
}
body {
    margin: 0;
    padding-bottom: 50px;
    display: grid;
    place-items: center;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(
            115deg,
            rgba(58, 58, 158, 0.5),
            rgba(136, 136, 206, 0.3)
        ),
        url("/css/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    margin-top: 100px;
    padding: 20px;

    background: rgba(0, 0, 0, 0.5);
    border-radius: 13px;
    width: 60%;
    box-shadow: 1px 1px 32px 10px rgba(0, 0, 0, 0.4);
}
.display-flex {
    display: flex;
    align-items: center;
    gap: 8px;
}
.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.display-flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.app-name-div {
    display: flex;
}
.app-name-div * {
    color: #fff !important;
}

.ced {
    color: #fff;
}
.app-name {
    font-size: 30px;
    color: #fff;
}
.app-name-icon {
    font-size: 40px;
}
.search-div {
    display: flex;
    justify-content: center;
}
.codetodo-button {
    box-shadow: var(--shadow);
    padding: 10px;
    border-radius: 30px;
}
button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    box-shadow: var(--shadow);
    background-color: inherit;
    background-color: #000;
    color: white;
}
button:hover {
    transition: 600ms ease-out;
    transform: scale(1.1);
    color: hsl(224, 23%, 55%);
    background: rgba(0, 0, 0, 0.562);
    cursor: pointer;
}
.icon-large {
    font-size: 100px !important;
}
.icon-medium {
    font-size: 35px !important;
}
hr {
    border: none;
    border-top: 1px solid #000;
}
input,
textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: inherit;
}
.schedule-icon {
    font-size: 40px !important;
}
textarea {
    box-shadow: 1px 1px 32px 10px rgba(0, 0, 0, 0.4);

    resize: none;
}
.float-right {
    float: right;
}
.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.mark {
    padding: 15px;
    border-radius: 50%;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.add-codetodo {
    padding: 15px;
    border-radius: 50%;
    box-shadow: var(--shadow);
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10%;
    background-color: #4b30b5;
    color: white;
}
.add-codetodo:hover {
    background-color: #4b30b57e;
}

#codetodonew {
    background: url("/css/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.png") no-repeat;
    background-position: center;
    box-shadow: 1px 1px 32px 10px rgba(0, 0, 0, 0.4);
}
.span-controller {
    padding: 15px;
    border-radius: 50%;
    box-shadow: var(--shadow);
    cursor: pointer;
    background-color: var(--coal);
    color: white;
}
.cl-coal {
    color: #fff;
}
.cl-coal * {
    color: #fff;
}
.title-large {
    font-size: 30px;
}
.title {
    font-size: 20px;
    color: #fff;
}
.title-small {
    font-size: 12px !important;
}
#title {
    box-shadow: 1px 1px 32px 10px rgba(0, 0, 0, 0.4);
}
.codetodo * {
    color: #fff;
}
.add-codetodo span {
    color: #000;
}
.codetodo-new {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: var(--web-padding);
    display: none;
    background-color: white;
    overflow: auto;
}
.codetodo-description {
    max-height: 300px !important;
    overflow: auto;
}
.codetodo-edit {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: var(--web-padding);
    display: none;
    background-color: white;
    overflow: auto;
}
.display-none {
    display: none;
}
.material-icons-round {
    color: #000;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .container {
        padding: var(--mobile-padding);
    }
    .add-codetodo {
        padding: 15px;
        border-radius: 50%;
        box-shadow: var(--shadow);
        cursor: pointer;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 3%;
        background-color: var(--coal);
        color: white;
    }
    .codetodo-new {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: var(--mobile-padding);
        display: none;
        background-color: white;
    }
    .codetodo-edit {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: var(--mobile-padding);
        display: none;
        background-color: white;
    }

    #new span {
        font-size: 40px;
    }
}